<h2 class="text-center font-bold text-2xl mb-8">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class=> "w-4/12 mx-auto flex flex-col space-y-4"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field flex flex-col gap-y-2">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-violet-600 rounded-md" %>
  </div>

  <div class="field flex flex-col gap-y-2">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "border border-violet-600 rounded-md" %>
  </div>

  <div class="field flex flex-col gap-y-2">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border border-violet-600 rounded-md" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "mx-auto bg-violet-600 hover:bg-violet-700 text-white py-2 px-4 rounded-lg cursor-pointer" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
