<div class="container mx-auto mt-10  flex flex-col space-y-8">
  <% if user_signed_in? %>
    <%= link_to "Create new post", new_post_path, class: "btn btn-primary w-[200px]" %>
  <% end %>

  <h1 class="text-center font-bold text-2xl">All Posts</h1>
  <ul class="flex flex-col gap-y-4">
  <%  @posts.each do | post | %>
    <% p = Post.find(post.id) %>
    <% comment_count = p.comments.all.count %>
    <div class="card w-96 bg-base-100 shadow-xl w-8/12 mx-auto">
      <div class="card-body">
        <h2 class="card-title"><%= post.title %></h2>
        <p><%= post.body %></p>
        <% if user_signed_in? %>
          <form action="/comments" method="post" class="mt-8 flex items-center">
            <input type="hidden" name="post_id" id="post_id" value="<%= post.id %>">
            <input class="border border-violet-500 rounded-md w-full mr-2" type="text" name="body" id="body">
            <button type="submit" class="bg-violet-800 text-white py-2 px-6 rounded-md">Reply</button>
          </form>
        <% end %>
        <div class="mt-2 text-sm text-end text-gray-400">
          <p>By: <%= post.user.email %></p>
          <p>Diposting pada: <%= post.created_at %></p>
        </div>
        <% if comment_count > 0 %>
          <%= link_to "Cek komentar(#{comment_count})", post_path(post.id), class: "text-violet-700 font-semibold" %>
        <% end %>
      </div>
    </div>
  <% end %>
  </ul>
</div>
